@import ../common

$component: "feeds"
@font-face
  font-family: Exo
  src: url("fonts/Exo2.0-Thin.otf")

.feeds
  display: table
  min-height: 100%
  min-width: 100%

  > .inner
    display: table-cell
    vertical-align: middle
    text-align: center
    word-spacing: 80px

  .title
    font-size: 36px
    color: #ffffff
    word-spacing: normal
    margin-bottom: 25px
    font-family: Exo, sans-serif

  .feed
    vertical-align: bottom
    display: inline-block
    word-spacing: normal

    .comment
      font-family: "Trebuchet MS", sans-serif
      .selected, .disabled
        display: none

    &:hover
      .feed-content
        background: url(image-path('pic-hover.png'))
        .weight
          background: #2ea8e6

    &.selected
      .comment
        color: #ffffff
        .normal
          display: none

        .selected
          display: block

      .feed-content
        background: url(image-path('pic-selected.png'))
        .weight
          background: #d91667
      &:hover
        .feed-content
          background: url(image-path('pic-selected-hover.png'))
          .weight
            background: #e62e7a

    &.disabled
      .comment
        color: #ffff66
        .normal, .selected
          display: none

        .disabled
          display: block

      .feed-content
        background: url(image-path('pic-disabled.png'))
        >.text
          color: #b3b3b3

          .inner, .item-title, .description, .quantity, .quantity .num, .details
            color: #b3b3b3
          .weight
            background: #b3b3b3

    .comment
      color: #ffffff
      font-size: 13px
      margin-top: 15px
      a
        color: #1698d9
        text-decoration: none
        border-bottom: 1px dashed #1698d9


  .feed-content
    width: 320px
    height: 480px
    background: url(image-path('pic.png'))
    position: relative





    >.text
      font-family: "Trebuchet MS", sans-serif
      text-align: left
      margin-left: 50px
      .inner
        font-size: 16px
        color: #666666
        padding-top: 24px
      .item-title
        font-size: 48px
        color: #000000
        font-weight: bold
        margin-top: 5px
      .description
        font-size: 24px
        color: #000000
        font-weight: bold
      .quantity
        font-size: 14px
        color: #666666
        margin-top: 15px
        .num
          display: inline
          font-weight: bold
          color: #666666
      .details
        font-size: 14px
        color: #666666

    .weight
      width: 80px
      height: 80px
      background: #1698d9
      text-align: center
      border-radius: 40px
      position: absolute
      right: 16px
      bottom: 16px
      color: #ffffff
      .num
        font-size: 42px
        padding-top: 12px
      .text
        font-size: 21px
        margin-top: -5px

